
ons-list-item > .left {
  padding-bottom : 25px;
  min-width: 35px;
}

ons-list-item > .center {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  padding-right : 15px;
}

.todos-text {
  width : 100%;
}

.todos-ext {
  margin-top : 4px;
  width : 100%;
  opacity: 0.8;
  line-height: 1.2;
  font-size: 12px;
  font-style: italic;
  color : grey;
}

.todos-action {
  border-left: solid 4px rgb(0, 150, 136);
  margin-bottom: 6px;
}

.hide {
  display: none;
}