
/* TODOS */

ons-list-item > .left {
  padding-bottom : 25px;
  min-width: 35px;
}

ons-list-item > .center {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  padding-right : 15px;
}

.todos-text {
  width : 100%;
  z-index: 2;
  background-color : white;
}

.todos-ext {
  margin-top : 4px;
  width : 100%;
  opacity: 0.8;
  line-height: 1.2;
  font-size: 12px;
  font-style: italic;
  color : grey;
}

.todos-action-android {
  border-left: solid 4px rgb(0, 150, 136);
  margin-bottom: 6px;
}

.todos-action-ios {
  border-left: solid 2px rgba(38,100,171,0.8);
  margin-bottom: 6px;
}

.hide {
  display: none;
}

/* Animation */


@-webkit-keyframes show-up {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 40px;
  }
}

@keyframes show-up {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 40px;
  }
}

.animation-show-up {
  pointer-events: none;
  -webkit-animation: show-up .2s ease-in-out forwards;
          animation: show-up .2s ease-in-out forwards;
}

@-webkit-keyframes hide {
  0% {
    max-height: 40px;
  }
  100% {
    max-height: 0;
  }
}

@keyframes hide {
  0% {
    max-height: 40px;
  }
  100% {
    max-height: 0;
  }
}

.animation-hide {
  pointer-events: none;
  -webkit-animation: hide .2s ease-in-out forwards;
          animation: hide .2s ease-in-out forwards;
}

/* TODO EDITOR */

.todo-editor-text-input {
  width : 100%
}

.todo-editor-urgent-label {
  font-size: 16px;
}

.todo-editor-collaborate-name {
  width : 100%;
  font-size: 16px;
}

.todo-editor-collaborate-relationship {
  margin-top : 4px;
  width : 100%;
  opacity: 0.8;
  line-height: 1.2;
  font-size: 12px;
  font-style: italic;
  color : grey;
}

/* Friend page */

.friends-searchbox {
    width: 100px;
    margin : 16px;
    border : 1px solid white;
    position : absolute;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.friends-searchbox:focus {
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid #ccc;
}