
ons-list-item > .left {
  padding-bottom : 25px;
  min-width: 35px;
}

ons-list-item > .center {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  padding-right : 15px;
}

.todos-text {
  width : 100%;
  z-index: 2;
  background-color : white;
}

.todos-ext {
  margin-top : 4px;
  width : 100%;
  opacity: 0.8;
  line-height: 1.2;
  font-size: 12px;
  font-style: italic;
  color : grey;
}

.todos-action {
  border-left: solid 4px rgb(0, 150, 136);
  margin-bottom: 6px;
}

.hide {
  display: none;
}

/* Animation */


@-webkit-keyframes show-up {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 500px;
  }
}

@keyframes show-up {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 500px;
  }
}

.animation-show-up {
  pointer-events: none;
  -webkit-animation: show-up .7s ease-in-out forwards;
          animation: show-up .7s ease-in-out forwards;
}

@-webkit-keyframes hide {
  0% {
    max-height: 500px;
  }
  100% {
    max-height: 0;
  }
}

@keyframes hide {
  0% {
    max-height: 500px;
  }
  100% {
    max-height: 0;
  }
}

.animation-hide {
  pointer-events: none;
  -webkit-animation: hide .7s ease-in-out forwards;
          animation: hide .7s ease-in-out forwards;
}